
/* hero   */

.destacadoHero{
    top: 0rem;
    height: 80vh;
    margin: 0 2rem;
    background-image: url(../img/destacado.jpg);
    background-size: cover;
}

.destacadoHero__box{
    width:49%;
    color:rgb(34, 31, 42);
    margin-left: 45vw;
}

.box__cita{
    padding-top: 18rem;
    margin-bottom: .6rem;
    font-family: 'Bodoni Moda';
    font-size: 1.6rem;
    font-style: italic;
}

.box__autor{
    color: rgb(108, 92, 151);
}

/* barra precio */

.barraPrecio{
    position: fixed;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    width: 100%;
    border-top: rgba(126, 126, 126, 0.5);
    border-top-width: 1px;
    border-top-style: solid;
}

.barraPrecio .vino__box{
    display: inline-block;
    width:45vw;
    margin-left: 11rem;
}

.barraPrecio .vino__box h2{
    font-size: 1.8rem;
    margin-top: 1.5rem;
}

.barraPrecio .precio__box{
    margin-right: 11rem;
    float: right;
}

.barraPrecio .precio__box .precio__btn{
    display: block;
    font-size: 1.5rem;
    margin-top: 1.7rem;
}

.barraPrecio .precio__box span{
    margin-top: .2rem;
    padding-left: 7rem;
}

/* header no fijo */

.noFijo{
    position: relative;
}

/* titulo */

.titulo{
    margin-top: 2rem;
    width:40vw;
    text-align: center;
    margin-left: 30vw;
}

.titulo h4{
    font-weight: 200;

}

/* caracteristicas */

.caracteristicas{
    margin-left:10vw;
    margin-top: 3rem;
    width:80vw;
    padding-top: 1rem;
    border-top: rgba(126, 126, 126, 0.5) 1px solid;
    padding-bottom: 1rem;
    border-bottom: rgba(126, 126, 126, 0.5) 1px solid;
}

.caracteristicas__box{
    display:inline-block;
    width:6rem;
    text-align: center;
    margin: 0 4.2vw;
}

.caracteristicas__box img{
    width:6rem;
    margin-top: 1rem;
}


/* descripcion */

.descripcion{
    width:82vw;
    margin-left: 10vw;
}

.descripcion .desc__texto{
    display: inline-block;
    width: 50vw;
    margin-right: 5vw;
    font-size: 1.5rem;
    margin-top: 2rem;
}

.descripcion .desc__img{
    display: inline-block;
    width: 25vw;
    height: 45vh;
    margin-top: 1rem;
    background-image: url(../img/destacadozoom.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
    vertical-align: top;

}

/* ficha tecnica */

.tecnica{
    width:80vw;
    margin-left:10vw;
    margin-top: 3rem;
    padding-top: 1rem;
    border-top: rgba(126, 126, 126, 0.5);
    border-top-width: 1px;
    border-top-style: solid;
    padding-bottom: 1rem;
    border-bottom: rgba(126, 126, 126, 0.5);
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.ficha__box{
    display: inline-block;
    width: auto;
    margin-left: 9vw;    
}
#primera{
    margin-left: 0px;
}

.ficha__box .box__nombre{
    display:inline-block;
}
.ficha__box .box__nombre span{
    display:block;
    margin-right: 7rem;
    margin-bottom: .5rem;

}
.ficha__box .box__valor{
    display:inline-block;
    text-align: right;
    margin-right: 0;
}
.ficha__box .box__valor span{
    display:block;
    font-weight: bold;
    margin-bottom: .5rem;
}
