
.hero__container{
    width:100%;
    display: flex;
    justify-content: center;
    & .hero{
        margin-top: 2rem;;
        width:100%;
        & img {
            width:100%;
        }
        & .hero__box{
            margin-top: 1.7rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            & .box__text{
                font-family: 'Poppins';
            }
            & .box__title{
                text-align: center;
                font-family: 'Bodoni Moda';
                font-size: 2rem;
                font-weight: 800;
                font-style: italic;
            }
        }
    }
}





