
.hero__container{
    width:100%;
    display: flex;
    justify-content: center;
    margin:0;
    padding:0;
    margin-top: 2rem;
    & .hero{
        margin-top: 2rem;;
        width:100%;
        & img {
            width:100%;
        }
        & .hero__box{
            margin-top: 1.7rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            & .box__text{
                font-family: 'Canela Text';
                font-size: 1.3rem;
                margin-bottom: 1rem;
            }
            & .box__title{
                text-align: center;
                font-family: 'Canela Condensed';
                font-size: 2.4rem;
                padding: 0 .5rem;
            }
        }
    }
}

.hero__img{
    margin:0;
    padding:0;
}





