.newsletter{
    padding:2rem 0.5rem;
    background-color: $colorPrincipal;
}

.newsletter__box{
    display: flex;
    align-items: center;
}


.box__input{
    margin-top: 0;
}



#mail{
    top:2rem;

}

@media only screen and (min-width: 766px) {
    #mail{
        width:26vw;
    }
}

@media only screen and (min-width: 920px) {
    #mail{
        width:26vw;
    }
}