@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=DM+Serif+Display:ital@0;1&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,700;1,100;1,500;1,700&family=Oswald:wght@200;500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,500;0,900;1,100&display=swap");
header {
  background: rgba(255, 255, 255, 0.97);
  text-align: center;
  position: fixed;
  z-index: 99999;
  width: 100%;
  top: 0;
  box-shadow: 10px 0 20px rgba(158, 157, 157, 0.705);
}

#ancho {
  max-width: 100vw !important;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.logo {
  margin: 0;
  height: 2rem;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: rgba(255, 255, 255, 0.97);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: #304d4d;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 1px solid rgba(255, 255, 255, 0);
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 350ms ease-in-out 250ms;
}

.link {
  color: #304d4d;
  text-decoration: none;
}

.invisible {
  display: none;
}

/* estilos login */
.login-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#login .modal-content label {
  margin-left: 15%;
}

#login .modal-content input {
  border: none;
  border-bottom: solid 1px slategray;
  display: block;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  width: 75%;
  margin-left: 15%;
}

@media only screen and (min-width: 920px) {
  .container {
    max-width: 100vw;
  }

  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }

  nav {
    transform: scale(1, 1);
  }

  nav a {
    opacity: 1;
  }

  #nav-desktop {
    top: 0;
    margin-top: 0;
    display: flex;
    font-size: 1rem;
    background: none;
  }

  #nav-desktop ul {
    display: flex;
    height: 4rem;
    align-items: center;
    justify-content: space-between;
  }

  #nav-desktop li {
    margin: 0;
  }

  #nav-desktop li a {
    font-size: 1rem;
  }

  #nav-desktop li a::after {
    content: "";
    display: block;
    height: 1px;
    background: #304d4d;
    margin-left: 1.9rem;
    transform: scale(0, 1);
    transition: transform ease-in-out 150ms;
  }

  #nav-desktop li a:hover::after {
    transform: scale(1, 1);
  }

  #nav-desktop li a:hover {
    color: #1f3131;
  }

  .link:hover {
    color: #304d4d;
  }

  header #nav-desktop {
    display: flex;
    top: 0;
  }

  header #nav-desktop ul {
    display: flex;
    list-style: none;
  }

  header #nav-desktop ul a {
    text-decoration: none;
    margin-left: 2rem;
    color: #304d4d;
  }

  .login {
    color: #304d4d;
    width: 16rem;
  }

  header .hamburguer {
    display: none;
  }
}
.hero__container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.hero__container .hero {
  margin-top: 2rem;
  width: 100%;
}
.hero__container .hero img {
  width: 100%;
}
.hero__container .hero .hero__box {
  margin-top: 1.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero__container .hero .hero__box .box__text {
  font-family: "Poppins";
}
.hero__container .hero .hero__box .box__title {
  text-align: center;
  font-family: "Bodoni Moda";
  font-size: 2rem;
  font-weight: 800;
  font-style: italic;
}

.tienda {
  border-top: 1px solid #304d4d;
  padding-top: 3rem;
  margin-top: 1rem;
  text-align: center;
  margin-bottom: 2rem;
}

.tienda h3 {
  font-size: 1rem;
  font-weight: 200;
  margin: 0 1rem 1rem 1rem;
}

.tiendaimg_container {
  display: flex;
  justify-content: center;
}

.tienda__img {
  width: 90vw;
  max-width: 1000px;
  height: 42vw;
  background-image: url(../img/tienda.jpg);
  background-size: cover;
  background-position-x: center;
  margin-bottom: 0;
}

@media only screen and (min-width: 920px) {
  .tienda__img {
    width: 65vw;
    height: 32vw;
  }
}
.suscripciones {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.suscripciones h3 {
  font-size: 1rem;
  font-weight: 200;
  margin-bottom: 2rem;
}

.wrapper {
  width: 100%;
}

.suscripciones__container {
  display: flex;
  justify-content: center;
}

.suscripciones__box .box__foto1 {
  background-image: url(../img/coleccion1.jpg);
  height: 50vh;
  background-size: cover;
  background-position-x: center;
  margin-bottom: 1rem;
}

.suscripciones__box .box__foto2 {
  background-image: url(../img/coleccion2.jpg);
  height: 50vh;
  background-size: cover;
  background-position-x: center;
  margin-bottom: 1rem;
}

.suscripciones__box .box__foto3 {
  background-image: url(../img/coleccion3.jpg);
  height: 50vh;
  background-size: cover;
  background-position-x: center;
  margin-bottom: 1rem;
}

.suscripciones__box .box__foto4 {
  background-image: url(../img/coleccion4.jpg);
  height: 50vh;
  background-size: cover;
  background-position-x: center;
  margin-bottom: 1rem;
}

.suscripciones__box {
  text-align: left;
  margin-bottom: 2rem;
}

.overfoto {
  height: 50vh;
  overflow: hidden;
}

.foto {
  transition: all 700ms;
  opacity: 0.5;
}

.foto:hover {
  transform: scale(1.05);
  opacity: 1;
}

@media only screen and (min-width: 766px) {
  .wrapper {
    width: 75vw;
  }
}
.carousel-item p {
  font-family: "Bodoni Moda";
}

.carousel-item .container .row .col-md-4 h2, h3, h4, span, p {
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

.texto__wrapper {
  display: flex;
  justify-content: center;
}

.carousel-item img {
  width: 75vw !important;
  margin-left: 50%;
  transform: translateX(-50%);
}

.texto__container {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 75vw !important;
}

@media only screen and (min-width: 766px) {
  .texto__container {
    width: 40vw !important;
  }

  .carousel-item img {
    width: 40vw !important;
  }
}
.destacado__container {
  text-align: center;
}

.destacado__container {
  width: 90%;
}

.destacado__centrar {
  display: flex;
  justify-content: center;
}

.destacado__img {
  height: 35vh;
  width: 90%;
  margin-left: 1.8rem;
  background-image: url(../img/destacadocentro.jpg);
  background-size: cover;
  background-position-x: center;
}

.destacado__text {
  width: 75vw;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.newsletter {
  padding: 2rem 0.5rem;
  background-color: #f3f0f0;
}

.newsletter__box {
  display: flex;
  align-items: center;
}

.box__input {
  margin-top: 0;
}

#mail {
  top: 2rem;
}

@media only screen and (min-width: 766px) {
  #mail {
    width: 26vw;
  }
}
@media only screen and (min-width: 920px) {
  #mail {
    width: 26vw;
  }
}
.separador {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.separador img {
  margin-bottom: 2rem;
  height: 9rem;
  opacity: 0.5;
  z-index: 9;
}

.desc {
  display: flex;
  justify-content: center;
  padding-bottom: 2.5rem;
  border-bottom: #b4b4b4 1px solid;
}

.desc__container {
  width: 69vw;
}

.desc h3 {
  text-align: center;
  font-weight: 400;
  font-size: 1.2rem;
}

footer {
  float: right;
  margin-right: 1rem;
}

footer img {
  height: 1.5rem;
}

/* hero   */
.destacadoHero__container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.destacadoHero__img {
  height: 35vh;
  width: 90%;
  margin: 0 2rem;
  margin-top: 2rem;
  background-image: url(../img/destacadocentro.jpg);
  background-size: cover;
  background-position-x: center;
}

.destacadoHero__box {
  width: 90%;
  color: #221f2a;
}

.box__cita {
  font-family: "Bodoni Moda";
  font-size: 1.2rem;
  font-style: italic;
  margin: 0 0.5rem;
  margin-top: 1rem;
  text-align: center;
}

.box__autor {
  color: #6c5c97;
  float: right;
}

/* titulo */
.titulo {
  margin-top: 2rem;
  width: 80vw;
  text-align: center;
  margin: auto;
  margin-top: 2rem;
}

.titulo h4 {
  font-weight: 200;
}

.descripcion {
  width: 82vw;
  margin-left: 10vw;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.descripcion .desc__texto {
  width: 90vw;
  text-align: center;
  margin-right: 5vw;
  font-size: 1rem !important;
  margin-top: 2rem;
}

.descripcion .desc__img {
  width: 90vw;
  height: 45vw;
  margin-top: 1rem;
  background-image: url(../img/destacadozoom.jpg);
  background-size: 180%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 73%;
  vertical-align: top;
}

/* ficha tecnica */
.tecnica {
  width: 80vw;
  margin-left: 10vw;
  margin-top: 3rem;
  padding-top: 1rem;
  border-top: rgba(126, 126, 126, 0.5);
  border-top-width: 1px;
  border-top-style: solid;
  padding-bottom: 1rem;
  border-bottom: rgba(126, 126, 126, 0.5);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  display: flex;
  flex-direction: column;
}

.ficha__box {
  display: flex;
  justify-content: space-between;
}

#primera {
  margin-left: 0px;
}

.ficha__box .box__nombre span {
  margin-bottom: 0.5rem;
  display: block;
}

.ficha__box .box__valor {
  text-align: right;
  margin-right: 0;
}

.ficha__box .box__valor span {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

/* barra precio */
.barraPrecio .vino__box {
  width: 45vw;
  margin-top: 0;
}

.barraPrecio .vino__box h2 {
  font-size: 1.5rem;
  margin-top: 1rem;
  font-family: "Bodoni Moda";
}

.barraPrecio .vino__box span {
  color: #7e7e7e;
}

.barraPrecio .precio__box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.barraPrecio .precio__box .precio__btn {
  font-size: 1.1rem;
  margin-top: 1.7rem;
  margin-right: 2rem;
}

.barraPrecio .precio__box span {
  margin-top: 0.2rem;
  color: #7e7e7e;
}

.barraPrecio {
  position: fixed;
  bottom: 0;
  background-color: white;
  width: 100%;
  border-top: rgba(126, 126, 126, 0.5);
  border-top-width: 1px;
  border-top-style: solid;
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 766px) {
  .descripcion {
    width: 82vw;
    margin-left: 10vw;
    display: flex;
    flex-direction: row;
  }

  .descripcion .desc__texto {
    width: 50vw;
    margin-right: 5vw;
    font-size: 1rem !important;
    margin-top: 2rem;
    text-align: left;
  }

  .descripcion .desc__img {
    width: 25vw;
    margin-top: 1rem;
    background-image: url(../img/destacadozoom.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    vertical-align: top;
  }

  .ficha__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
  }

  .tecnica {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 920px) {
  .destacadoHero__container {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-image: url(../img/destacado.jpg);
    background-size: cover;
    height: 90vh;
  }

  .destacadoHero__img {
    top: 0rem;
    height: 60vw;
    width: 45%;
    margin: 0 2rem;
    background-image: none;
  }

  .destacadoHero__box {
    width: 49%;
    color: #221f2a;
    margin-left: 10vw;
    margin-right: 5rem;
  }

  .box__cita {
    margin-bottom: 0.6rem;
    font-family: "Bodoni Moda";
    font-size: 1.6rem;
    font-style: italic;
    text-align: left;
  }

  .box__autor {
    color: #6c5c97;
    float: left;
    margin-left: 0.5rem;
  }

  /* titulo */
  .titulo {
    margin-top: 2rem;
    width: 40vw;
    text-align: center;
    margin-left: 30vw;
  }

  .titulo h4 {
    font-weight: 200;
  }

  .descripcion {
    width: 82vw;
    margin-left: 10vw;
  }

  .descripcion .desc__texto {
    display: inline-block;
    width: 50vw;
    margin-right: 5vw;
    font-size: 1.2rem !important;
    margin-top: 2rem;
  }

  .descripcion .desc__img {
    display: inline-block;
    width: 25vw;
    height: 45vh;
    margin-top: 1rem;
    background-image: url(../img/destacadozoom.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
    vertical-align: top;
  }

  .ficha__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 25%;
  }

  .barraPrecio {
    position: fixed;
    bottom: 0;
    background-color: white;
    width: 100%;
    border-top: rgba(126, 126, 126, 0.5);
    border-top-width: 1px;
    border-top-style: solid;
    display: flex;
    justify-content: space-between;
  }

  .barraPrecio .vino__box {
    width: 45vw;
    margin-top: 0;
    margin-left: 5%;
    justify-content: space-around;
  }

  .barraPrecio .vino__box h2 {
    font-size: 1rem;
    margin-top: 1.5rem;
  }

  .barraPrecio .precio__box .precio__btn {
    display: block;
    font-size: 1.5rem;
    margin-top: 1.7rem;
    margin-right: 2rem;
  }

  .barraPrecio .precio__box span {
    margin-top: 0.2rem;
  }
}
/* header no fijo */
.noFijo {
  position: relative;
}

/* caracteristicas */
.caracteristicas {
  margin-left: 10vw;
  margin-top: 3rem;
  width: 80vw;
  padding-top: 1rem;
  border-top: rgba(126, 126, 126, 0.5) 1px solid;
  padding-bottom: 1rem;
  border-bottom: rgba(126, 126, 126, 0.5) 1px solid;
}

.caracteristicas__box {
  display: inline-block;
  width: 6rem;
  text-align: center;
  margin: 0 4.2vw;
}

.caracteristicas__box img {
  width: 6rem;
  margin-top: 1rem;
}

/* descripcion */
/* ficha tecnica */
#footerDestacado {
  margin-bottom: 10rem;
}

.suscHero {
  margin-top: 5rem;
}

.titulo {
  margin-bottom: 3rem;
}

.suscripciones__container {
  width: 75vw;
}

h2 {
  font-family: "Bodoni Moda";
}

.precio {
  font-size: 2rem;
}

.mainGrid {
  display: grid;
  grid-template-columns: auto;
}

.tienda__grid {
  display: grid;
  grid-template-columns: auto;
}

.searchBar {
  display: flex;
  flex-direction: column;
}

.input__flex {
  display: flex;
  margin: 0 1rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.searchBar input {
  max-width: 75vw;
  margin-top: 1rem;
  padding: 0;
  border: none;
  border-bottom: #221f2a 1px solid;
}

.searchBar .ordenar {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  font-size: 0.7rem;
}

.searchBar img {
  display: inline-block;
  height: 2rem;
  position: relative;
  line-height: 2rem;
  padding-top: 0.5rem;
  margin-right: 1rem;
}

.searchBar .ordenar span {
  margin-left: 1rem;
  font-size: 1rem;
}

.filtros {
  display: none;
}

.filtros__mobile {
  display: flex;
  margin: 1rem;
}

.filtros__mobile span {
  margin-right: 2rem;
}

.tienda__flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.producto__box {
  max-width: 85vw;
  margin-bottom: 3rem;
}

.producto__box h3 {
  text-align: left;
}

.producto__box img {
  max-width: 85vw;
}

.producto__box .preciocomun h4 {
  font-size: 1.5rem;
}

.producto__box .preciosocios h4 {
  font-size: 1.8rem;
  color: cornflowerblue;
}

@media only screen and (min-width: 480px) {
  .searchBar {
    margin-left: 3rem;
  }

  .filtros__mobile {
    margin-left: 4rem;
  }

  .tienda__flex {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .search__flex {
    max-width: 50vw;
  }

  .producto__box {
    max-width: 40vw;
  }

  .producto__box img {
    max-width: 40vw;
  }
}
@media only screen and (min-width: 769px) {
  .containerTienda {
    display: flex;
    flex-wrap: wrap;
  }

  .filtros {
    display: inline-block;
    width: 20vw;
    padding-left: 10vw;
    vertical-align: top;
    margin-top: 5rem;
  }

  .tienda {
    width: 75vw;
  }

  .search__flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .search__flex input {
    max-width: 20vw;
  }

  .tienda {
    background-color: rgba(221, 221, 221, 0.385);
  }

  .producto__box button {
    margin-left: 0;
  }

  .filtros__mobile {
    display: none;
  }

  .searchBar .ordenar span {
    width: 7rem;
  }

  .footer__grid {
    grid-area: footer_grid;
  }
}
@media only screen and (min-width: 780px) {
  .searchBar input {
    border: none;
    border-bottom: #221f2a 1px solid;
    font-size: 1rem;
    padding: 0 0.5rem;
  }

  .searchBar {
    margin-left: 0;
  }

  .searchBar img {
    display: inline-block;
    height: 2rem;
    position: relative;
    line-height: 2rem;
    padding-top: 0.5rem;
  }

  .searchBar .ordenar span {
    width: auto;
    margin-left: 1rem;
    font-size: 1rem;
  }

  .filtros ul span {
    display: block;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  .filtros ul {
    margin-bottom: 5rem;
  }

  .tienda {
    display: inline-block;
    width: 70vw;
    margin-left: 5vw;
    transition: all 600ms;
  }

  .tienda .producto__box {
    display: inline-block;
    width: 15vw;
    margin: 3vh 2vw;
    overflow: hidden;
  }

  .tienda .producto__box img {
    width: 15vw;
    transition: all 600ms;
  }

  .tienda .producto__box h4 {
    float: right;
  }

  .tienda .producto__box .spanproducto {
    display: inline-block;
  }

  .preciosocios h4 {
    font-size: 1.5rem;
    color: #701a70;
  }

  .preciosocios span {
    font-size: 1rem;
  }

  .tienda .producto__box img:hover {
    transform: scale(1.1);
  }
}
.nosHero {
  margin-top: 5rem;
  width: 100%;
  height: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nosHero__img {
  width: 90vw;
  height: 15vw;
  background-image: url(../img/WM3QO6V6YZFQJIGDD5CV44PMIU.jpg);
  background-position: center;
  background-position-y: 28%;
  background-repeat: no-repeat;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.nosTitulo {
  text-align: center;
  width: 75vw;
}

.equipo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.nosP {
  text-align: center;
  width: 75vw;
}

.fotoEquipo {
  width: 90vw;
  max-width: 720px;
}

/* Google fonts  */
* {
  margin: 0;
  padding: 0;
}

.row {
  width: 100%;
}

/* estilo de botones */
.btn_secundario, .btn {
  margin-top: 1.5rem;
  padding: 0.5rem 2rem;
  background-color: #5b2d61;
  border-style: none;
  border-radius: 10px;
  font-size: 0.98rem;
  font-weight: 100;
  color: #f3f0f0;
  cursor: pointer;
}

.btn {
  background-color: #5b2d61;
  color: #f3f0f0;
}

.btn:hover {
  background-color: #3f0c46;
  color: white;
}

.btn_secundario {
  background-color: #f3f0f0;
  color: #5b2d61;
}

.noTopMarg {
  margin-top: 0;
}

.suscHero {
  display: flex;
  justify-content: center;
}

.suscHero__img {
  background-image: url(../img/tipoeligiendo.jpg);
  background-size: cover;
  background-position-x: center;
  width: 75vw;
  height: 50vh;
}

/* tienda estilos searchbar mobile  */
#productos {
  margin-bottom: 5rem;
}

.searchBar {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-top: 6.5rem;
}

.hide-for-mobile {
  position: absolute;
  visibility: hidden;
}

/* tienda estilos productos  */
.producto__box img {
  width: 100%;
}

.producto__box {
  text-align: left;
}

.producto__box h2, h3, h4, span, p {
  margin-top: 0;
  margin-bottom: 0;
}

.producto__box h3 {
  margin: 0;
  font-weight: 800;
}

@media only screen and (min-width: 766px) {
  header.container {
    width: 100vw;
    max-width: 100vw;
  }
}
@media only screen and (min-width: 920px) {
  .searchBar {
    margin-top: 6rem;
    justify-content: space-between;
    width: 70%;
    margin-left: 29%;
  }

  .hide-for-mobile {
    position: relative;
    visibility: visible;
    margin-top: 5rem;
  }

  .hide-for-desktop {
    visibility: hidden;
    position: absolute;
  }

  /* index imagen tienda desktop  */
  .destacado__img {
    width: 35%;
  }

  .destacado__text {
    width: 35%;
  }

  .destacado__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .destacado__container p {
    width: 65%;
    justify-self: center;
  }

  .destacado {
    margin-top: 11rem;
  }

  .carousel-item {
    width: 80vw !important;
    margin-left: 10%;
  }

  .carousel-item img {
    width: 18vw !important;
  }

  .carousel-indicators {
    top: 72vh;
  }

  .hide-for-mobile .col-md-4 {
    width: 18vw;
  }

  .hide-for-mobile .row {
    display: flex;
    justify-content: space-evenly;
  }
}/*# sourceMappingURL=style.css.map */